{%- comment -%}
  Uso dentro de una SECTION:
  {% render 'button', link: block.settings.link, block: block %}
{%- endcomment -%}

{% assign block_settings = block.settings | default: nil %}

{% assign icon_url = 'https://cdn.shopify.com/s/files/1/0922/7858/7767/files/Vector_28.svg?v=1758269263' %}
{% assign icon_url_hover = 'https://cdn.shopify.com/s/files/1/0922/7858/7767/files/Vector_29.svg?v=1758269918' %}

{%- assign show_icon = false -%}
{%- assign bold_text = false -%}
{%- if block_settings != nil -%}
  {%- assign show_icon = block_settings.show_icon | default: false -%}
  {%- assign bold_text = block_settings.bold_text | default: false -%}
{%- endif -%}

<a
  {% if link == blank %}role="link" aria-disabled="true"{% else %}href="{{ link }}"{% endif %}
  class="
    size-style
    {{ block_settings.style_class }}
    {{ block_settings.style_class }}--{{ block.id }}
    {% if show_icon %}has-icon{% endif %}
    {% if bold_text %}is-bold{% endif %}
  "
  style="
    {% if block_settings %}{% render 'size-style', settings: block_settings %}{% endif %}
    {% if show_icon %}--icon-url: url('{{ icon_url }}'); --icon-url-hover: url('{{ icon_url_hover }}');{% endif %}
  "
  {% if block_settings and block_settings.open_in_new_tab %}target="_blank" rel="noopener noreferrer"{% endif %}
  {{ block.shopify_attributes }}
>
  <span class="button__label">{{ block_settings.label }}</span>
  {% if show_icon %}<span class="button__icon" aria-hidden="true"></span>{% endif %}
</a>

<style>
  /* Enlaces tipo "link" */
  .link{ text-decoration:none; text-decoration-color:currentcolor; }
  .link:hover{ color:var(--color-primary-hover); text-decoration-color:transparent; }

  /* Tamaño de fuente controlado por settings, acotado solo a este botón */
  @media screen and (min-width: 750px){
    .{{ block_settings.style_class }}--{{ block.id }}{
      font-size: {{ block_settings.font_size_desktop | default: 16 }}px;
    }
  }
  @media screen and (max-width: 749px){
    .{{ block_settings.style_class }}--{{ block.id }}{
      font-size: {{ block_settings.font_size_mobile | default: block_settings.font_size_desktop | default: 16 }}px;
    }
  }

  /* Centrado del contenido (con o sin icono) */
  .size-style{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    vertical-align:middle;
    text-align:center;
  }

  .is-bold{ font-weight:700; }

  /* Icono opcional */
  .has-icon{ gap:.5rem; }
  .has-icon .button__icon{
    display:inline-block;
    width:1em; height:1em;
    background-image:var(--icon-url);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    flex:0 0 1em;
  }
  .has-icon:hover .button__icon{
    background-image:var(--icon-url-hover);
  }
</style>