{%- doc -%}
  Renders the search action button.

  @param {string} [style] - The style of the search action.
  @param {string} [class] - Additional classes for the search action.

  @example
  {% render 'search', style: 'default', class: 'custom-class' %}
{%- enddoc -%}

{% unless style == 'none' %}
  <search-button class="search-icon--mobile search-action{% if class != blank %} {{ class | strip }}{% endif %}">
    <button
      on:click="#search-modal/showDialog"
      class="button button-unstyled search-modal__button header-actions__action"
      aria-label="{{ 'accessibility.open_search_modal' | t }}"
    >
      <span
        aria-hidden="true"
        class="svg-wrapper"
      >
        {{ 'icon-search.svg' | inline_asset_content }}
      </span>
    </button>
  </search-button>

  
  
<search-button class="search-icon--desktop search-action{% if class != blank %} {{ class | strip }}{% endif %}">
  <button
    id="search-button"
    on:click="#search-modal/showDialog"
    class="button button-unstyled search-modal__button header-actions__action"
    aria-label="{{ 'accessibility.open_search_modal' | t }}"
     style="margin-right:1rem;"
  >
    <span class="search-icon-container">
      <img
        src="https://cdn.shopify.com/s/files/1/0922/7858/7767/files/BUSCADOR_1.svg?v=1757975495"
        alt="Buscador"
        width="20"
        height="20"
        class="search-icon-image"
       
      >
    </span>
  </button>
</search-button>
<style>
    .search-icon--mobile {
      display: none; /* Oculta el botón de móvil por defecto */
    }

    .search-icon--desktop {
      display: block; /* Muestra el botón de escritorio por defecto */
    }

    @media screen and (max-width: 750px) {
      .search-icon--mobile {
        display: block; /* En pantallas pequeñas, muestra el botón de móvil */
      }

      .search-icon--desktop {
        display: none; /* En pantallas pequeñas, oculta el botón de escritorio */
      }
    }
</style>

{% endunless %}

{% stylesheet %}

.search-icon--mobile {
  display: none; /* Hide the mobile SVG by default on desktop */
}

.search-icon--desktop {
  display: block; /* Show the desktop image by default */
}

@media screen and (max-width: 750px) {
  .search-icon--mobile {
    display: block; /* On mobile screens, show the mobile SVG */
  }

  .search-icon--desktop {
    display: none; /* On mobile screens, hide the desktop image */
  }
}



  .search-action {
    --search-border-radius: var(--style-border-radius-inputs);
    --search-border-width: var(--style-border-width-inputs);

    display: flex;
  }

  .header__column--center .search-action {
    width: auto;
    flex-grow: 1;
  }

  :is(.header__column--left, .header__column--center) .search-action {
    @media screen and (width >= 750px) {
      margin-inline: calc(var(--padding-lg) * -1);
    }
  }

  .header__column--right .search-action {
    @media screen and (width >= 750px) {
      margin-inline: calc(var(--gap-md) * -1) calc(var(--gap-xs) * -1);
    }
  }
{% endstylesheet %}